<a href="https://colab.research.google.com/github/priya21rk/ICT_ML-AI/blob/DAY1/assignmnt1(ML_AI).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title sum of all elements in alist of integers

list = [1,5,3,14,25,21]
s=0
for i in list :
  s = s+i
print("the sum is:",s)

the sum is: 69

In [ ]:
string = input("enter the string:")
print(len(string))
print(len(string)//2)

enter the string:priya
5
2

In [ ]:
s1= input("enter the first string:")
s2= input("enter the second string:")
newstring = s1+" "+s2
print("sum of the two strings are:",newstring)
print(len(newstring))

enter the first string:priya
enter the second string:fathima
sum of the two strings are: priya fathima
13

In [ ]:
tup1=('78','45','32','19','82','77','40','39')
list1 = list(tup1)
list1[2]=100
list1=tuple(list1)
print(list1)

('78', '45', 100, '19', '82', '77', '40', '39')

In [ ]:
list = [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
list.remove(32)
print("after removing first occarance of 32",list)

while 40 in list:
  list.remove(40)
  print("after removing 40 from the list",list)

del list[5]
print("after deleting a value from index 5",list)

list[8]=300
print("after modifying value at index 9",list)

list[2]+=200
print("after adding 200 at index 2",list)

print("the final list is:",list)
print("length of final list:",len(list))
print("maximum value:",max(list))
print("the sum of final list is:",sum(list))

after removing first occarance of 32 [19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
after removing 40 from the list [19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40]
after removing 40 from the list [19, 10, 55, 31, 32, 94, 29, 10, 65, 77]
after deleting a value from index 5 [19, 10, 55, 31, 32, 29, 10, 65, 77]
after modifying value at index 9 [19, 10, 55, 31, 32, 29, 10, 65, 300]
after adding 200 at index 2 [19, 10, 255, 31, 32, 29, 10, 65, 300]
the final list is: [19, 10, 255, 31, 32, 29, 10, 65, 300]
length of final list: 9
maximum value: 300
the sum of final list is: 751