<a href="https://colab.research.google.com/github/priya21rk/ICT_ML-AI/blob/DAY1/pythn_day1(ML_AI).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list=['fathima','aisha','priya','shijina']
#list2=[]
#for i in list:
#  list2=i+list
#print(list)

In [ ]:
i=4
while i>=0:
  j=0
  while j<=4:
    j=j+1
    print("*",end="")
  print("")
  i=i-1

*****
*****
*****
*****
*****

In [ ]:
print("world of python",end="!")

world of python!

In [ ]:
print("hello\n"*3)

hello
hello
hello

In [ ]:
s='python'
print(s[0])
print(s[-3])
print(len(s))

p
h
6

In [ ]:
print(s[0:4])
print(s[0:6:2])

pyth
pto

In [ ]:
print("Select operation")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")
choice = input()
num1=int(input("enter the first number:"))
num2=int(input("enter the second number:"))
if choice == '1' :
  s=num1+num2
elif choice == '2':
  s=num1-num2
elif choice == '3':
  s=num1*num2
elif choice == '4':
  s=num1/num2
else:
  quit()
print(s)

Select operation
1.Add
2.Subtract
3.Multiply
4.Divide

In [ ]:
#@title prime numbers

num=int(input("enter a number:"))
c=0
i=1
while(i<=num):
  if num%i==0 :
    c=c+1
  i=i+1  
if c==2:
    print("prime")
else:
    print("not prime")

In [ ]:
#@title leap year
year = int(input("enter the year:"))
if year%4==0:
  print("it is a leap year")
elif year%400==0:
  print("leap year")
elif year%100==0:
  print("not leap year")
else :
  print("not a leap year")

In [ ]:
#@title sum of natural numbers
num=int(input("enter the n numbers required:"))
s=0
for i in range(num+1):
  s=s+i;
  i=i+1
print(s)

enter the n numbers required:3
6

In [ ]:
#def function_name(argument):

In [ ]:
def greet():
  print("hello")

In [ ]:
greet()

hello

In [ ]:
def addno(num1,num2):
  sum= num1+num2
  print(sum)

In [ ]:
addno(4,5)

9

In [ ]:
def sq(num):
  n=num*num
  print(n)

In [ ]:
sq(5)

25